@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);

    --font: "Kumbh Sans", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font);
    min-height: 100vh;
    background-color: var(--Dark-cyan);
    /* background: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg'), var(--Dark-cyan);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-size: 50% 50%; */
    overflow: hidden;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

h1, h2 {
    color: var(--Very-dark-desaturated-blue);
}

h2 {
    margin-bottom: 5px;
}

p {
    color: var(--Dark-gray);
    font-size: 14px;
}

h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.background__top-image {
    position: absolute;
    top: -30%;;
    left: -65%;
    width: 400px;
    z-index: -1;
    width: 100%;
}

.background__bottom-image {
    position: absolute;
    bottom: -20%;
    right: -70%;
    width: 400px;
    z-index: -1;
    width: 100%;
}

.card {
    width: 300px;
    height: 350px;
    background-image: url('./images/bg-pattern-card.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card__age {
    font-weight: 700;
    margin-left: 10px;
    color: var(--Dark-grayish-blue);
}

.card__address {
    font-weight: 400;
    text-align: center;
}

.card__top-container {
    /* height: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__imageContainer {
    margin-bottom: 1.2rem;
    margin-top: 40px;
}

.card__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
}

.card__bottom-container {
    /* height: 20%; */
    padding: 20px 40px;
    margin-top: 20px;
    border-top: .5px solid rgba(128, 128, 128, 0.16);
}

.card__socialInfo {
    display: flex;
    justify-content: space-between;
}

.card__socials {
    text-align: center;
    font-size: 12px;
}